@model IEnumerable<Message>
@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
}
<div class="spacer"></div>
    <h2 class="text-center text-primary">
        <i></i>&nbsp; Public chat room
    </h2>
    <div class="spacer"></div>
    <div class="jumbotron bg-light">
        <div class="row">
            <div class="col-md-12 chat" id="chat">
                @if (Model != null)
                {
                    @for (int i = 0; i < 20; i++)
                    {
                        <div class="msg" id="@i">@(i<Model.Count() ? Model.ElementAt(i).MessageToDisplay():"")</div>
                    }
                }
            </div>
            
        </div>
    </div>
    <div class="col-md-12">
        <form asp-action="Create"
              data-ajax-begin="clearInputField" data-ajax-complete=""
              data-ajax-success="sendMessage('@ViewBag.currentUserId',@null)"
              data-ajax="true" data-ajax-method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input name="Text" class="form-control" id="messageText" />
            </div>
            <div class="form-group">
                <input type="submit" value="Send" id="submitButton" class="btn-primary" />
            </div>
            <input type="hidden" value="@userName" name="username" />
        </form>
    </div>

        @section scripts {
            <script src="~/signalr/signalr.min.js"></script>
            <script src="~/lib/jquery/dist/jquery-unobtrusive-ajax.min.js"></script>
            <script src="~/js/chat.js"></script>
            <script src="~/js/signalrReqHandlerChat.js"></script>
        }
              
