@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<table class="checkerboard">
    <tr>
        <td>
            <button class="tile-black">
                <img src="~/images/Biały.png" class="checker"/>
            </button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
        <td>
            <button class="tile-white"></button>
        </td>
        <td>
            <button class="tile-black"></button>
        </td>
    </tr>
</table>
<p>Use this page to detail your site's privacy policy.</p>
